body {
    background-color: #333;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 100vh; */
}

.flex-container > div {
    background-color: #259;
    color: white;
    height: 150px;
    width: 200px;
    text-align: center; 
    /* line-height: 150px; */
    border-radius: 5%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding: 1px; */
}
